---
layout: main
---

<!DOCTYPE html>
<html lang="en">

<body>
    <section class="bg-primary">
        <section id="contact-content" class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive center-block" src="{{ site.image_path }}/{{ page.image }}">
                </div>
                <div class="col-sm-6">
                    <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
                </div>
                <div class="col-sm-6">
                    <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h1 id="project-title" class="text-center">{{ page.title }}</h1>
                    <br>
                    <h2 id="project-date" class="text-center">{{ page.visible_date }}</h2></div>
                    <br>   
                    {{ content }}
                </div>
            </div> 
        </section>
    </section>

</body>
</html>