---
layout: main
---

<!DOCTYPE html>
<html lang="en">

<body>
    <section class="bg-primary">
        <section id="contact-content" class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-sm-offset-3 col-md-4 col-md-offset-4 col-xs-offset-2">
                    <h1 id="project-title">{{ page.title }}</h1>
                    <br>
                    <h2 id="project-date" class="text-faded">{{ page.visible_date }}</h2>
                    <br>
                </div> 
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <img class="img-responsive" src="{{ site.image_path }}/{{ page.image }}">
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <p class="text-justify"> {{ content }}</p>
                </div>
            </div> 
        </section>
    </section>

</body>
</html>